.grid{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "map stats"
    
}
.grid div.header{
    grid-area: header;
    text-align: center;
}
.grid div.map{
    grid-area: map;
}
.grid div.stats{
    grid-area: stats;
}
.statsTable{
    width: 100%;
    height:100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: left;
}
ul li  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}