<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
</head>
    <body>
        <h1>{{.Title}}</h1>
        <div class="grid">

            <div>
                <form action="/testFile" method="POST" enctype="multipart/form-data">
                    <label for="myfile">Select a file:</label>
                    <input type="file" id="myfile" name="myfile" accept=".dem"><br><br>
                    <input type="submit">
                </form> 
            </div>
            <div>
                <h1>Or Check out these already parsed demos</h1>
                <a href="/demoList"><button>Click Me!</button></a>
            </div>
        </div>
       
    </body>
</html>